.projects {
    background-image: url("https://images.pexels.com/photos/87089/rocket-lift-off-liftoff-astronautics-87089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    width: 100%;
    /*height: 100vh;*/
    padding: 20px 10px;
}

.projects_list_card{
   color:#000000;
}
/*
.projects_list{
     display: flex;
     justify-content: space-between;!*themes are evenly distributed in the line;
                                     first item is on the start line, last item on the end line*!
     flex-wrap: wrap;!*flex items will wrap onto multiple lines, from top to bottom.*!
     margin-top: 16px;
     margin-bottom: 16px;
     width: 100%;
 }

.projects_list_card{
    width: 100%;
    max-width: 320px;
    padding-top: 24px;
    padding-bottom: 24px;
}*/
