body {
    background: black;
    font-family: 'Raleway', cursive !important;
    font-size: 16px;
    color: #ffffff !important;
}

.fa-linkedin-in {
    color: rgb(0, 127, 178);
}

.fa-github {
    color: rgb(102, 43, 129);
}

.fa-facebook-f {
    color: rgb(59, 89, 163);
}

.pageThree {
    background: #a90a07;
    width: 100%;
    padding-top: 1%;
}

.pageThree h1 {
    font-size: 4em;
    color: #000000;
    margin: 40px 0;
}